html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #07c;
}

* {
  box-sizing: border-box;
}

.page {
  margin: 50px auto;
  max-width: 720px;
  font-size: 20px;
  line-height: 30px;
}

.page nav {
  margin-bottom: 40px;
}

.page p code {
  padding: 0 2px;
  background-color: #eee;
}

.page pre {
  padding: 10px;
  background-color: #eee;
}

.page h1 {
  line-height: 40px;
}